/* Colors
--------------------------
menu 797066
menu hover 9c9084
menu selected eae7d2
menu font dce7d2
menu selected font 797066
font 797066
dashed column separator c0c0c0
topbar background-color 51473d
body background-color fcfaf4
content border cecab9
content background color eae7d2

--------------------------*/
body {
    background-color: #fcfaf4;
    z-index: 100;
}
/* Container
-------------------------------*/
#container {
    position: relative;
    height: 690px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #cecab9;
    background-color: #eae7d2;
    font-family: Verdana, sans-serif;
}
h1 {
    font-size: 2.3em;
}
h1, h2 {
    font-family: Times New Roman, serif;
    font-weight: normal;
}
#subcontent h1 {
    font-size: 1.6em;
}

/* Header
------------------------------*/
#topbar {
    height: 255px;
    width: 600px;
    margin: 0;
    background: url("pics/coffey.jpg") no-repeat;
    background-position: 0 35%;
    color: #dce7d2;
    text-align: right;
    font-style: italic;
    font-size: .8em;
    background-color: #51473d;

}

/* Menu
--------------------------------------*/
#menu {
    margin: -47px 0 0 -25px;
    
}
#menu a {
    display: none;
}
#menu ul li{
    list-style-type: none;
    overflow: hidden;    
    margin-right: 1px;
    margin-left: 1px;
    
}
#menu ul li a {
    display: inline-block;
    color: #dce7d2;
    font-family: Verdana, sans-serif;

}
#menu li {
    float: left;
}
#menu li a:link, #menu li a:visited {
    width: auto;
    padding: 5px 15px 5px 15px;
    background-color: #797066;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}
#menu li a:focus {
    background-color: #eae7d2;
    color: #797066;
}
#menu li a:hover {
    background-color:#9c9084;
}
#menu li a:active {
    background-color: #eae7d2;
    color: #797066;
    z-index: 2;
}


/* Textarea
--------------------------*/
#content {
	color: #797066;
	padding: .5em;
}
#maincontent {
	height: auto;
	width: 60%;
	font-size: .9em;
	float: left;
}
#subcontent {
	height: auto;
	width: 35%;
	font-size: .7em;
	float: right;
	margin-top: 20px;
	padding: 0 0 0 15px;
	border-left: 2px dashed #c0c0c0;
}

/* Image in textarea
--------------------------*/
#maincontent img {
	position: relative;
	float: left;
	padding: 0 5px 5px 5px;
}

/* Footer
---------------------------*/
#bottomcontent {
	width: 60%;
	font-size: .8em;
	font-style: italic;
	float: left;
}

/* Links
------------------------------*/
#subcontent ul li {
	font-family: Verdana, sans-serif;
	list-style-type: none;
	font-size: 1.2em;
	margin-left: -40px;

}
#subcontent ul li a {
    color: #797066;
    